<div class="toast-container" style="z-index:1000; position: absolute;"></div>
<script>
  //Dynamic Toast 
  const show_toast = (toast_header, toast_header_bg, toast_header_text_color, toast_message, delay) => {

    const check_time = (i) => {
      return (i < 10) ? "0" + i : i;
    }

    let today = new Date(),
      h = check_time(today.getHours()),
      m = check_time(today.getMinutes()),
      s = check_time(today.getSeconds());

    let toast_time = h + ':' + m + ':' + s;
    var toast_body = "";
    if(toast_message != ""){
      toast_body = `<div class="toast-body">${toast_message}</div>`;
    }
    let toast_template_html = `
    <div aria-atomic="true" aria-live="assertive"
      class="toast border-0 position-fixed top-0 end-0 m-3"
      role="alert" id="toast_message-${today}"
    >
      <div class="toast-header bg-${toast_header_bg}">
         
        <strong class="me-auto text-${toast_header_text_color}">${toast_header}</strong>
        <small class="text-${toast_header_text_color}">${toast_time}</small>
        <button aria-label="Close" class="btn-close text-${toast_header_text_color}"
          data-bs-dismiss="toast" type="button"></button>
      </div>
      `+
      toast_body
      +
      `
    </div>
  `;

    const toast_wrapper = document.createElement('template');
    toast_wrapper.innerHTML = toast_template_html.trim();
    const awesome_toast = toast_wrapper.content.firstChild;
    document.querySelector('.toast-container').appendChild(awesome_toast);

    new bootstrap.Toast(
      awesome_toast, {
        autohide: false,
        /* set false for demonstration */
        delay: delay
      }
    ).show();
  }
</script>

<!-- Demo Code. To be removed in Development -->
<script>
$(".save-btn").click(function(){
  show_toast("Saved Successfully","success rounded border-0","white","",0)
});
$(".send-password-reset-btn").click(function(){
  show_toast("Password Reset Email Sent","secondary rounded border-0","dark","",0)
});
</script>