{{#> _modal-block ModalId="add-aboutus" ModalTitle="Enter the Leave Date" StaticBackdrop=1 Size="lg" hasCloseButton=1
hasSimpleButton=1 SimpleButtonText="Save" DisableScroll=0 DisableCentered=0}}
<div class="row g-3">
    <div class="col-lg-6">
        {{>_input-field Label="Date" NameId="aboutUsPoint1En" InvalidFeedback="Please enter Date
        "
        Required=1}}
    </div>
    <div class="col-lg-6">
        {{>_input-field Label="to Till Date" NameId="aboutUsPoint1Ar" InvalidFeedback="Please enter till date
        "
        Required=1
        RTL=1}}
    </div>
</div>
{{/ _modal-block}}