{{#> _modal-block ModalId="edit-permissions-modal" ModalTitle="Roles and Capabilities" StaticBackdrop=1 Size="lg" hasCloseButton=1 DisableScroll=0 DisableCentered=0}}
<div class="row">
  <div class="col-12 mb-3">
    <h2 class="card-title text-primary mb-2">Dashboards</h2>
    <ul class="list-group list-group-flush">
      {{> _list-group-item Text="Application Forms" SwitchSize="sm" NameId="ApplicationForms"}}
      {{> _list-group-item Text="Directorate Management" SwitchSize="sm" NameId="DirectorateManagement"}}
      {{> _list-group-item Text="Seasons Management" SwitchSize="sm" NameId="SeasonsManagement"}}
      {{> _list-group-item Text="Applications Management" SwitchSize="sm" NameId="ApplicationsManagement"}}
      {{> _list-group-item Text="Jury Management" SwitchSize="sm" NameId="JuryManagement"}}
      <ul class="ps-2 ps-lg-4 list-group list-group-flush">
        {{> _list-group-item Text="Jury Listing" SwitchSize="sm"}}
        {{> _list-group-item Text="Jury Group" SwitchSize="sm"}}
      </ul>
      {{> _list-group-item Text="User Management" SwitchSize="sm" NameId="UserManagement"}}
      <ul class="ps-2 ps-lg-4 list-group list-group-flush">
        {{> _list-group-item Text="Users" SwitchSize="sm"}}
        {{> _list-group-item Text="Roles" SwitchSize="sm"}}
      </ul>
    </ul>
  </div>
</div>
{{/ _modal-block}}
