{{#> _modal-block ModalId="edit-password-modal" ModalTitle="Reset Password" StaticBackdrop=1 Size="md" hasCloseButton=1 hasSimpleButton = 1 SimpleButtonText = "Update Password" DisableScroll=0 DisableCentered=0}}
<div class="row">
  <div class="col-12">
    <p class="text-center">Please change password for <br><b class="text-primary">m.abdullah@mail.com</b></p>
  </div>
</div>
<form action="index.html" method="post">
  <div class="form-group">
    {{> _input-field Label="New password" Type="password" Required=1 Placeholder="Password" InvalidFeedback="Please enter a password</div><div class='invalid-feedback' localize-me>Password must be atleast 8 characters long"}}
  </div>
  <div class="form-group">
    {{> _input-field Label="Confirm Password" Type="password" Required=1 Placeholder="Password" InvalidFeedback="Confirm password should be same as password"}}
  </div>
</form>
{{/ _modal-block}}
