{{#> _modal-block ModalId="followup-modal" ModalTitle="Follow-up Message" StaticBackdrop=1 Size="lg" hasCloseButton=1 hasSimpleButton=1 SimpleButtonText="Send" DisableScroll=0 DisableCentered=0}}
{{#unlesspage 'applicant-dashboard' 'my-applications'}}
<div class="alert alert-warning" role="alert"> 
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>
<div class="alert alert-warning" role="alert">
    {{> _checkbox-button Label="Kasd no sit duo est lorem. Amet dolor consetetur sit kasd takimata et ipsum, ut vero tempor sit vero, sadipscing diam lorem et sit amet accusam. Sadipscing et et stet ipsum. Stet et labore sit nonumy amet, diam labore clita clita dolor takimata. Voluptua vero sanctus lorem kasd ipsum diam."}}
</div>

<hr class="solid opacity-7">
{{> _textarea-field Label="Admin Comment"}}

<hr class="solid opacity-7">
{{> _datepicker-field Label="Response End Date" DateRange=0}}

{{/unlesspage}}
{{#ifpage 'applicant-dashboard' 'my-applications'}}
<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
    <hr class="solid opacity-7">
    {{> _textarea-field Label="Applicant Comment"}}
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>

<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
    <hr class="solid opacity-7">
    {{> _textarea-field Label="Applicant Comment"}}
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>
{{/ifpage}}

{{/ _modal-block}}