{{#> _modal-block ModalId="followup-history-modal" ModalTitle="Follow-up Message History" StaticBackdrop=1 Size="lg" hasCloseButton=1 hasSimpleButton=0 SimpleButtonText="Send" DisableScroll=0 DisableCentered=0}}
<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-success" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Applicant Name<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-success" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Applicant Name<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-success" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Applicant Name<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-warning" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Admin<cite title="Source Title"> 04/04/2023</cite></footer>
<div class="alert alert-success" role="alert">
    Et tempor sanctus sed justo et lorem clita et diam. Nonumy et kasd sit eirmod, lorem ipsum labore accusam est ipsum dolore, eos aliquyam sit et et duo ipsum dolores, dolor no erat elitr sea clita takimata, et diam duo sit lorem aliquyam consetetur ipsum sanctus. Et et gubergren amet.
</div>  
<footer class="blockquote-footer">Applicant Name<cite title="Source Title"> 04/04/2023</cite></footer>
{{/ _modal-block}}