@font-face {
    font-family: 'Image Uploader Icons';
    src: url("../fonts/iu.eot");
    src: url("../fonts/iu.eot") format('embedded-opentype'), url("../fonts/iu.ttf") format('truetype'), url("../fonts/iu.woff") format('woff'), url("../fonts/iu.svg") format('svg');
    font-weight: 400;
    font-style: normal
}