<a href="{{#if CardURL}}{{CardURL}}{{else}}javascript:;{{/if}}" class="col d-flex flex-column align-items-center">
    <div class="icon mb-2">
        <span class="fa-stack fa-2x">
            <i class="fa-solid fa-circle fa-stack-2x {{IconBg}}"></i>
            <i class="{{Icon}} fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    <div class="content text-center">
        <h5 class="mb-2 {{TextColor}}">{{Title}}</h5>
        <h4 class="m-0 {{TextColor}}">{{Subtitle}}</h4>
    </div>
</a>