<div class="wizard mb-5">
    <ul class="nav nav-tabs my-4 justify-content-center" id="myTab" role="tablist">
        {{#repeat Steps}}
        <li class="nav-item flex-fill" role="presentation" data-bs-toggle="tooltip" data-bs-placement="top" title="Step {{add @index 1}}">
            <a class="nav-link {{#unless @index}}active{{/unless}} fw-bold fs-2 rounded-0 mx-auto d-flex align-items-center justify-content-center" href="#step{{add @index 1}}" id="step{{add @index 1}}-tab" data-bs-toggle="tab" role="tab" aria-controls="step{{add @index 1}}" aria-selected="true">
                {{add @index 1}}
            </a>
        </li>
        {{/repeat}}
    </ul>
    {{> @partial-block }}
</div>