<!-- ***************************************************** -->
<!-- Start: Experimental Code. To be removed for Development -->
<!-- ***************************************************** -->
<script>
    // {{ClientName}}
    {{#if ClientName}}
    var ClientName = "{{ClientName}}";
    {{else}}
    var ClientName = "";
    {{/if}}
    $(document).ready(function(){
        {{#with navigation}}
        {{#if MultiUser}}
                //Experimental Code for Setting User Role; Must not be used for development
                const customQueryString = window.location.search;
                const customUrlParams = new URLSearchParams(customQueryString);
                const customRole = customUrlParams.get('customRole');
                if(customRole){
                    localStorage.setItem("SelectedUserRole-" + ClientName, customRole);
                    localStorage.setItem("SelectedUserRoleName-" + ClientName, customRole);
                }
                
                SetUserRoleSidemenuPermission();
                DisplayeUserRoleSidemenu();
                ClearUserRoleSidemenuPermission();
                RemoveFieldsOfInvalidPermissions();
                // Experimental Code End

                
            function SetUserRoleSidemenuPermission(){
                $('.SetLoginSession').on('click',function(){
                localStorage.setItem("SelectedUserRole-" + ClientName, $(this).attr('data-userrole'));
                localStorage.setItem("SelectedUserRoleName-" + ClientName, $(this).attr('data-userrolename'));

                window.location.href = "index.html";
                });
            }
            function ClearUserRoleSidemenuPermission(){
                $('.logout-link').on('click',function(){
                localStorage.removeItem("SelectedUserRole-" + ClientName);
                localStorage.removeItem("SelectedUserRoleName-" + ClientName);
                });
            }
            function DisplayeUserRoleSidemenu(){
                if(document.location.pathname.match(/[^\/]+$/)==null)
                    window.location.href = "index.html";
                if(localStorage.getItem("SelectedUserRole-" + ClientName) == null && (document.location.pathname.match(/[^\/]+$/)[0]=="signup.html" || document.location.pathname.match(/[^\/]+$/)[0]=="signup-rtl.html"))
                {
                    return;
                }
                if(localStorage.getItem("SelectedUserRole-" + ClientName) == null && (document.location.pathname.match(/[^\/]+$/)[0]!="signin.html" || document.location.pathname.match(/[^\/]+$/)[0]=="signin-rtl.html" || document.location.pathname.match(/[^\/]+$/)==null))
                {
                window.location.href = "signin.html";
                }

                $("#menu .nav-main , #menu hr.separator").each(function(){
                    if(!$(this).hasClass(localStorage.getItem("SelectedUserRole-" + ClientName))){
                        $(this).remove();
                    }
                });

                $("#userbox span.role").html(localStorage.getItem("SelectedUserRoleName-" + ClientName));
                $("#menu").show();
                $("#menu .nav-main").each(function(){
                    if($(this).hasClass(localStorage.getItem("SelectedUserRole-" + ClientName)) && $(this).children().length == 0){
                        $("#sidebar-left").remove();
                    }
                });

            }
            function RemoveFieldsOfInvalidPermissions(){
                $(".content-body").find(".NotFor" + localStorage.getItem("SelectedUserRole-" + ClientName)).remove();
            }
            {{else}}
                $("#menu").show();
        {{/if}}
        {{/with}}
    });
</script>
<!-- ***************************************************** -->
<!-- End: Experimental Code. To be removed for Development -->
<!-- ***************************************************** -->