
<!-- Specific Page Vendor CSS -->

<link rel="stylesheet" href="{{root}}assets/vendor/css/jquery-ui.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/jquery-ui.theme.css" />

<link rel="stylesheet" href="{{root}}assets/vendor/css/bootstrap-multiselect.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/basic.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/dropzone.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/codemirror.css" />
<link rel="stylesheet" href="{{root}}assets/vendor/css/monokai.css" /> 

<!-- Specific Page Vendor JS -->

<script src="{{root}}assets/vendor/js/jquery-ui.js"></script>
<script src="{{root}}assets/vendor/js/jquery.ui.touch-punch.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-multiselect.js"></script>
<script src="{{root}}assets/vendor/js/jquery.maskedinput.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-tagsinput.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-colorpicker.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-timepicker.js"></script>
<script src="{{root}}assets/vendor/js/spinner.js"></script>
<script src="{{root}}assets/vendor/js/dropzone.js"></script>
<script src="{{root}}assets/vendor/js/markdown.js"></script>
<script src="{{root}}assets/vendor/js/to-markdown.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-markdown.js"></script>
<script src="{{root}}assets/vendor/js/codemirror.js"></script>
<script src="{{root}}assets/vendor/js/active-line.js"></script>
<script src="{{root}}assets/vendor/js/matchbrackets.js"></script>
<script src="{{root}}assets/vendor/js/javascript.js"></script>
<script src="{{root}}assets/vendor/js/xml.js"></script>
<script src="{{root}}assets/vendor/js/htmlmixed.js"></script>
<script src="{{root}}assets/vendor/js/css.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap-maxlength.js"></script>