<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title localize-me>{Company-Name}</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <style>
        body {
            padding: 24px;
            /*padding: 20px 20px 20px 40px;*/
            font-size: 14px;
            font-family: 'Helvetica', 'Arial', sans-serif !important;
            background-color: white !important;
        }

        #items table,
        #items th,
        #items td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body style="{Body-Style}">
    <!-- start: page -->
    {{> body}}
    <!-- end: page -->
</body>
</html>